doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', crossorigin='anonymous')
  body
    script(type='text/javascript', src='https://unpkg.com/mithril/mithril.js')
    block content